{% macro render_field(field, show_label=True) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
    {% if show_label %}
        {{ field.label(class="control-label") }}
    {% else %}
        {{ field.label(class="sr-only") }}
    {% endif %}

    {{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class="errors list-unstyled" style="color:#a94442;margin-top:10px;">
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endmacro %}


{% macro render_task_run_options(task_runs, key) %}
    {% set answers = [] %}
    <h3>{{ key }}</h3>
    <div class="answer-group" data-key="{{ key }}">
        {% for tr in task_runs %}
            {% set answer = tr.info[key] %}
            {% if answer|length > 0 and answer not in answers %}
                <div class="form-group" id="{{ key }}-{{ answer }}">
                    <div class="radio">
                        <label>
                            <input type="radio" name="{{ key }}-option" value="{{ answer }}">{{ answer }}
                        </label>
                    </div>
                </div>
            {% set answers = answers + [answer] %}
            {% endif %}
            {% if loop.last and answers|length == 0 %}
                <p>No answers available for this field.</p>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_task_run_final_answer(key) %}
    <div class="form-group">
        <label class="control-label">{{ key }}</label>
        <input class="form-control" type="text" name="{{ key }}" />
    </div>
{% endmacro %}