{% macro render_field(field, show_label=True) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
    {% if show_label %}
        {{ field.label(class="control-label") }}
    {% else %}
        {{ field.label(class="sr-only") }}
    {% endif %}

    {{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class="errors list-unstyled" style="color:#a94442;margin-top:10px;">
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endmacro %}


{% macro render_tr_field(task_runs, key, input_type='text') %}
    {% set answers = [] %}
    <input type="hidden" id="{{ key }}" />
    <h4>{{ key }}</h4>
    <div class="answer-group" data-key="{{ key }}">
        {% for tr in task_runs %}
            {% if tr.info[key]|length > 0 and tr.info[key] not in answers %}
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="{{ key }}" value="{{ tr.info[key] }}">{{ tr.info[key] }}
                        </label>
                    </div>
                </div>
            {% set answers = answers + [tr.info[key]] %}
            {% endif %}
        {% endfor %}
        <div class="form-group">
            <div class="input-group radio-text-group">
                <span class="input-group-addon">
                    <input type="radio" name="{{ key }}" required>
                </span>
                <input type="text" class="form-control" placeholder="Enter any alternative answers here"/>
            </div>
        </div>
    </div>
{% endmacro %}