{% extends "base.html" %}
{% from '_helpers.html' import render_task_run_options, render_task_run_final_answer %}

{% block content %}
{% include "_navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-6">
            <div class="image-container">
                <img src="{{ task.info['url_b'] }}" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6">
            <form id="answer-form" method="POST" role="form"
                  action="{{url_for('projects.analyse_result', short_name=project.short_name, result_id=result.id)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% for key in keys %}
                    <div id="page-{{ loop.index }}" class="page" {% if not loop.first %}style="display: none;"{% endif %}>
                        {{ render_task_run_options(task_runs, key=key) }}
                        <div class="form-group text-right">
                            <a href="#" class="btn btn-info change-page {% if loop.first %}disabled{% endif %}"
                               data-page="{{ loop.index - 1 }}">Previous</a>
                            <a href="#" class="btn btn-info change-page" data-page="{{ loop.index + 1 }}">Next</a>
                        </div>
                    </div>
                {% endfor %}
                <div id="page-{{ keys|length + 1 }}" class="page" style="display: none;">
                    <h3>Final Answer</h3>
                    {% for key in keys %}
                        {{ render_task_run_final_answer(key) }}
                    {% endfor %}
                    <div class="form-group text-right">
                        <a href="#" class="btn btn-info change-page" data-page="{{ keys|length }}">Previous</a>
                        <input class="btn btn-success" type="submit" value="Accept"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
