<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PyBossa Analyst{% if title %} | {{ title }}{% endif %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alexander Mendes">
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}?v1.0.1">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
        <script src="{{url_for('static', filename='notify.js')}}?v0.1.0"></script>
        <script src="{{url_for('static', filename='scripts.js')}}?v1.0.1"></script>
        {% include '_flash_messages.html' %}
    </body>
</html>
