{% extends "base.html" %}
{% from '_helpers.html' import render_field %}

{% block content %}
{% include "_navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ project.name }}: {{ title }}</h1>
            <p class="lead">Enter your task IDs below to download the original task input.</p>
            <hr>
            <form method="POST" action="{{ url_for('download.download_input', short_name=project.short_name) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {{ render_field(form.importer, class="form-control") }}
                {{ render_field(form.task_ids, class="form-control", rows="10", required="required") }}
                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Download"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}