{% extends "base.html" %}
{% set active_page = 'projects' %}

{% block content %}
{% include "_navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ title }}</h1>
            <hr>
            <p class="lead">{{ brand }} assists with the real-time analysis of PyBossa results.</p>
        </div>
    </div>

    <section id="intro">
        <div class="row">
            <div class="col-xs-12">
                <h3>How it works</h3>
                <p>
                    When a webhook is received from your PyBossa server to indicate that a task has been completed
                    {{ brand }} analyses all task runs associated with that task, looking for a specified
                    match rate for each answer key (disregarding task runs where all answer fields have been left
                    blank). If a match is found the result associated with the task is updated to the matched answer
                    for each key. If all keys for all answers have been left blank the result will be set to the
                    empty string for each key.For tasks where a match cannot be found the result will be set to
                    "Unverified" and the application provides templates to check each of these unverified answers
                    and manually set the final result.
                </p>
                <p>
                    The match rate for {{ brand }} is currently set to {{ config['MATCH_PERCENTAGE'] }}%, which
                    can be modified via the application's main configuration file.
                </p>
                <h4>Examples</h4>
                <p>If the match rate was set to 100% results would be set as follows:</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Answer One</th>
                            <th class="col-xs-3">Answer Two</th>
                            <th class="col-xs-3">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="col-xs-3">{"foo": "bar"}</th>
                            <th class="col-xs-3">{"foo": "bar"}</th>
                            <th class="col-xs-3">{"foo": "bar"}</th>
                        </tr>
                        <tr>
                            <th class="col-xs-3">{"foo": ""}</th>
                            <th class="col-xs-3">{"foo": ""}</th>
                            <th class="col-xs-3">{"foo": ""}</th>
                        </tr>
                        <tr>
                            <th class="col-xs-3">{"foo": "bar"}</th>
                            <th class="col-xs-3">{"foo": ""}</th>
                            <th class="col-xs-3">"Unverified"</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section id="authentication">
        <div class="row">
            <div class="col-xs-12">
                <h3>Authentication</h3>
                <p>
                    To use {{ brand }} you should login using your PyBossa API key, which should be available
                    via your PyBossa profile page. If you enter the key incorrectly you may still be presented
                    with a list of projects but you will be unable to make any changes to these projects
                    (such as updating their results).
                </p>
                <p>
                    You can login by visiting <strong>http://{your-libcrowds-analyst-domain}/login</strong> or
                    by passing the <strong>api_key={your-api-key}</strong> parameter along with any request
                    to the {{ brand }} server. Only the project owner or a PyBossa administrator will be able to
                    update results for a project.
                </p>
            </div>
        </div>
    </section>

    <section id="setup">
        <div class="row">
            <div class="col-xs-12">
                <h3>Setup</h3>
                <p>
                    To trigger real-time analysis visit the update page of your project within your PyBossa
                    application and enter the webhook <strong>http://{your-libcrowds-analyst-domain}</strong>.
                    Any tasks subsequently completed will send a webhook to the {{ brand }} server, triggering
                    result analysis.
                </p>
                <p>
                    If the project had completed tasks before you setup the webhooks you can visit
                    <strong>http://{your-libcrowds-analyst-domain}/projects/{project-short-name}/setup</strong>
                    and select "New" from the dropdown menu to trigger analysis of all new results.
                </p>
            </div>
        </div>
    </section>

    <section id="verification">
        <div class="row">
            <div class="col-xs-12">
                <h3>Verification</h3>
                <p>
                    To verify the results for a project that could not be verified automatically you can visit
                    <strong>http://{your-libcrowds-analyst-domain}/projects/{project-short-name}</strong>.
                    The next "Unverified" result will be presented as a group of radio buttons for each
                    answer field allowing you to select the correct option for each field. If an appropriate
                    option does not exist, or you wish to enter an alternative, just click the
                    <strong>Next</strong> without selecting any option.
                </p>
                <p>
                    On the "Final Answer" page, which will be presented last, you can verify the options selected
                    or enter any alternatives before clicking the <strong>Accept</strong> button. This final answer
                    will then be stored as the result for that task.
                </p>
            </div>
        </div>
    </section>

    <section id="editing">
        <div class="row">
            <div class="col-xs-12">
                <h3>Editing results</h3>
                <p>
                    You can edit a specific result by visiting
                    <strong>http://{your-libcrowds-analyst-domain}/projects/{project-short-name}/{result-id}</strong>,
                    the process is the same as for verification (above).
                </p>
            </div>
        </div>
    </section>

    <section id="downloading">
        <div class="row">
            <div class="col-xs-12">
                <h3>Downloading task input</h3>
                <p>
                    Once you have a set of final results for a project you may want to separate your original task
                    input based on these results. For example, you may want to identify a set of images for which
                    a particular answer field was not populated. To do this you can visit
                    <strong>http://{your-libcrowds-analyst-domain}/download/{project-short-name}</strong> and enter a
                    list of task IDs, the original input for these tasks will be returned as a zip file.
                </p>
            </div>
        </div>
    </section>

    <section id="theme-integration">
        <div class="row">
            <div class="col-xs-12">
                <h3>Theme integration</h3>
                <p>
                    You may want to integrate a link to the analyst application into your main PyBossa theme. For example
                    you could add a variable to your main PyBossa configuration file pointing to your {{ brand }} base URL
                    then add a link to each project dashboard page as follows:
                </p>
                <div class="well">
                    {% raw %}
                    {% if config.get('libcrowds_analyst_URL') %}
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="{{ config['libcrowds_analyst_URL'] }}/projects/{{ project.short_name }}?api_key={{ current_user.api_key }}">Analysis&lt;/a>
                        <br>
                    {% endif %}
                    {% endraw %}
                </div>
            </div>
        </div>
    </section>

 </div>
{% endblock %}