{% extends "base.html" %}
{% set active_page = 'projects' %}

{% block content %}
{% include "_navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Your Projects</h1>
            <hr>
            {% if not projects %}
            <p class="lead">No projects found for PyBossa user with the API key <strong>{{ api_key }}</strong></p>
            {% else %}
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Receiving Webhooks</th>
                    <th class="text-center">Actions</th>
                </tr>
                {% for p in projects %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td class="text-center">{% if p.webhook == request.url_root %}Yes{% else %}No{% endif %}</td>
                    <td class="text-center">
                        <a href="{{ url_for('analysis.analyse', short_name=p.short_name) }}"
                           class="btn btn-sm btn-info">Analyse
                        </a>
                        <a href="{{ url_for('analysis.download_input', short_name=p.short_name) }}"
                           class="btn btn-sm btn-info">Download Input
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
 </div>
{% endblock %}