{% extends "base.html" %}
{% from '_helpers.html' import render_field %}

{% block content %}
<p class="lead">
    <strong>WARNING: </strong>Clicking the button below will trigger reanalysis of results and override
    current result data.
</p>
<form method="POST" action="{{ url_for('analyse.reanalyse', short_name=project.short_name) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ render_field(form._filter, class="form-control") }}
    <div class="text-right">
        <input class="btn btn-danger" type="submit" value="Continue"></input>
    </div>
</form>
{% endblock %}
