# URL of the PyBossa server
ENDPOINT = 'http://{your-pybossa-server}'

# DOI of the current LibCrowds Analyst version
DOI = ''

# Server host and port
HOST = '0.0.0.0'
PORT = 5001

# Debugging
DEBUG = False

# Number of seconds to wait after each analysis (to deal with API rate limits)
# This should be calculated by the number of API calls in each analysis
# function * the number of API calls allows per second.
THROTTLE = 12

# Email notifications settings
MAIL_SERVER = 'localhost'
MAIL_PORT = 25
MAIL_USERNAME = None
MAIL_PASSWORD = None
MAIL_DEFAULT_SENDER = 'LibCrowds Analyst <analyst@libcrowds.com>'
MAIL_RECIPIENTS = []
