# PyBossa API key for an admin user
API_KEY = ''

# URL of the PyBossa server
ENDPOINT = 'http://{your-pybossa-server}'

# Basic auth username for pybossa-analyst
USERNAME = 'admin'

# Basic auth password for pybossa-analyst
PASSWORD = 'secret'

# Key for cryptographically signing form data
SECRET_KEY = 'its-a-secret'

# Server host and port
HOST = '0.0.0.0'
PORT = 5001

# Debugging
DEBUG = False

# Flask-Z3950 config
# Add a database with id 'oclc' to replace any 'oclc' task run info keys with
# their record summaries
# Z3950_DATABASES = {"id": {'host': '', 'db': '', 'port': '', 'user': '',
                            'password': ''}}

# Folder to store task input zip files
ZIP_FOLDER = "/tmp/"

# Required match percentage
MATCH_PERCENTAGE = 60

# Task run info keys to be excluded from results processing
EXCLUDED_KEYS = []
