# PyBossa API key for an admin user
# This key is used to update results when a webhook is received
API_KEY = ''

# URL of the PyBossa server
ENDPOINT = 'http://{your-pybossa-server}'

# Server host and port
HOST = '0.0.0.0'
PORT = 5001

# Debugging
DEBUG = False
