record {
    border-bottom: 1px solid #EFEFEF;
    display: block;
    padding: 20px 0px
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

.answer-group {
    margin-bottom: 50px;
}

#alert-messages {
    width: 50%;
    position: fixed;
    top: 2em;
    right: 2em;
    padding: 2em;
}
#alert-messages p {
    padding: 1em 0em;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}