[program:libcrowds-analyst]
command=/home/libcrowds-analyst/env/bin/uwsgi /home/libcrowds-analyst/libcrowds-analyst.ini
directory=/home/libcrowds-analyst
autostart=true
autorestart=true
user=analyst
log_stdout=/var/log/libcrowds-analyst.log
log_stderr=/var/log/libcrowds-analyst.log
logfile_maxbytes=10MB
logfile_backups=2