[program:rq-scheduler]
command=/home/pybossa-analyst/env/bin/rqscheduler --host 127.0.0.1 --port 6379 --interval 60 --db 0
directory=/home/pybossa-analyst
autostart=true
autorestart=true
user=pybossa
priority=998