[program:rq-worker]
command=/home/libcrowds-analyst/env/bin/python app_context_rqworker.py libcrowds-analyst
directory=/home/libcrowds-analyst
autostart=true
autorestart=true
user=libcrowds
priority=997