<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LibCrowds Analyst - {{ title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alexander Mendes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    </head>
    <body>
        <div class="container">
            <h1><a href="http://www.libcrowds.com"><span class="glyphicon glyphicon-home"></span></a> {{ title }}</h1>
            <hr>
            {% include '_flash_messages.html' %}
            {% block content %}{% endblock %}
        </div>

        <div id="analysisHelpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">How to analyse results</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Use the radio buttons to select the correct answers, then click the accept button.
                            These answers will be used to populate the task's final result.
                        </p>
                        <p>
                            If no answers are correct, click the reject button. Alternatively, use
                            the free text fields to modify or add any additional answers.
                        </p>
                        <p>

                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>
    <script src="{{url_for('static', filename='scripts.js')}}?v1.0.1"></script>
    </body>
</html>
