{% extends "base.html" %}
{% from '_helpers.html' import render_tr_field %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-push-6">
        <img src="{{ task.url_b }}" class="img-responsive">
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-6">
        {% for tr in task_runs %}
            {% if tr.info['comment']|length > 0 %}
            <span id="{{ tr.info['comments'] }}" class="comment"></span>
            {% endif %}
            {% if tr.info['oclc']|length > 0 %}
            <span id="{{ tr.info['oclc'] }}" class="worldcat-record"></span>
            {% endif %}
        {% endfor %}
        <form id="answer-form" method="POST" role="form" action="{{url_for('analyse_empty_result', short_name=project.short_name)}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="result_id" value="{{ result.id }}" />
            {{ render_tr_field(task_runs, key='oclc', required=True) }}
            {{ render_tr_field(task_runs, key='shelfmark', required=True) }}
            <div class="form-group text-right">
                <input class="btn btn-success" type="submit" value="Accept"></input>
            </div>
        </form>
    </div>
</div>

<script>

/** Add a record to the form. */
function addRecordToForm(recordElem) {
    $(recordElem.children('div')[1]).remove();
    var oclcNum = $(recordElem.children('div')[0]).context.id;
    var baseUrl = 'https://www.worldcat.org/title/apis/oclc/';
    $(recordElem.find('.title')[0]).wrapInner('<a href="' + baseUrl + oclcNum +
                                              '" target="_blank" />');
    var html = $(recordElem).html().replace('col-xs-8', '');
    $('input[value="'+ oclcNum +'"]').each(function() {
        $($(this).parents('.radio')[0]).append(html);
    });
}

/** Handle the results of a Z3950 search. */
function handleResults(results) {
    var parser = new DOMParser(),
        doc    = parser.parseFromString("<html>" + results + "</html>",
                                        "text/xml");
    $(doc).find('.z3950-record').each(function() {
        addRecordToForm($(this));
    });
}

$(document).ready(function() {
    var query   = "",
        results = {};
    $('.worldcat-record').each(function(){
        if (query.length > 0 ) {
            query = query + "or";
        }
        query = query + '(1,12)="' + $(this).context.id + '"';
    });
    z3950Search(query, handleResults);
});
</script>
{% endblock %}
