{% extends "base.html" %}

{% block content %}
    <p>
        All webhook payloads should be directed to <strong>{{ request.base_url }}</strong>
    </p>

    <h3>Endpoints</h3>
    <ul>
        <li>To process the next unanalysed result visit:<br>
        <strong>{{ request.base_url }}&lt;project_short_name&gt;</strong></li><br>

        <li>To process a specific result visit:<br>
        <strong>{{ request.base_url }}&lt;project_short_name&gt;/&lt;result_id&gt;</strong></li><br>

        <li>To trigger reanalysis for all of a project's results visit:<br>
        <strong>{{ request.base_url }}&lt;project_short_name&gt;/reanalyse</strong></li><br>

        <li>To download the original input (e.g. the images) associated with a list of tasks:<br>
        <strong>{{ request.base_url }}&lt;project_short_name&gt;/download</strong></li><br>
    </ul>
{% endblock %}
